<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
   <%- include ("partials/nav") %>
    <div class=" bg-light rounded-3 vh-100">
      <div class="container-fluid  d-flex  vh-100 row ">
        <section class="right-side h-100 d-flex align-items-center col-sm col-md-6">
          <div class="wrap h-50 px-5">
        <h1 class="display-5 fw-bold">
          Project 5 - Google and Local Login System
        </h1>
        <p class="col-md-8 fs-4">
          Project 5 includes EJS, MongoDB Atlas, Passport.js, Authentication,
          OAuth(Google Login Setup) and other examples.
        </p>
        <button class="btn btn-primary btn-lg" type="button">
          Learn how it works.
        </button>
        </div>
      </section>
      <section class="left-side h-100 col-sm col-md-6">
        <div class="wrap  d-flex  ">
          <img src="img/Login.jpg" class="img-thumbnail" alt="Google Login project" >
      </div>
      </section>
      </div>
    </div>
  </body>
</html>
